@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.searchContainer{
  width: 586px !important;
  height: 63px !important;
  background: #89D3D3 !important;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 32px !important;
}
